<app-nabvar></app-nabvar>
<body>
  <h1>Nosotros</h1>
  <div class="container-card">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="https://i.ibb.co/DCJ4c1s/user-image.png" alt="">
          <h3>Jonatan Stiven Ortiz Gómez</h3>
          <span>Cofundador JJEAR Technologies</span>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Desarrollador de software, amante de la tecnología, su día a día es de constante aprendizaje, aficionado a los videjuegos y dispuesto a aprender todo lo que se pueda.<p>
          <em>"Los mejores desarrolladores de software son los que verdaderamente disfrutan mas con lo que hacen". -Rafael Gómez</em>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="https://i.ibb.co/DCJ4c1s/user-image.png" alt="">
          <h3>Janderson Stiven Villamarin Correa</h3>
          <span>Cofundador JJEAR Technologies</span>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Desarrollador de software, amante del aprendizaje autónomo sobre la tecnología desde ya hace muchos años, en mi tiempo libre suelo divertirme haciendo pruebas en Linux, y mi objetivo es cambiar al mundo.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="https://i.ibb.co/DCJ4c1s/user-image.png" alt="">
          <h3>Roberto Andrés Restrepo Macías</h3>
          <span>Cofundador JJEAR Technologies</span>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Desarrollador de software recién graduado, con habilidades en programación y solución de problemas. Interés en aprender y desarrollar su carrera en tecnología. Capacidad de trabajo en equipo y compromiso con la calidad del código.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
          <div class="content">
            <img src="https://i.ibb.co/DCJ4c1s/user-image.png" alt="">
            <h3>Andres Escobar Vélez</h3>
            <span>Cofundador JJEAR Technologies</span>
          </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Desarrollador de software, apasionado por generar conocimiento cada vez más grande en la industria del software. Soñador y luchador para alcanzar cada una de sus metas, desempeña un gran trabajo en equipo y cumple con gran compromiso cada una de sus obligaciones.</p>
        </div>
      </div>
    </div>
  </div>
  <h1>Descripción del equipo de desarrollo</h1>
  <div class="team">
    <img src="https://i.ibb.co/LNCx1bk/logo-JJEAR-Technologies-transparent.png" alt="">
    <div class="text-team">
      <div class="vision">
        <h2>Visión</h2>
        <p>Queremos ser reconocidos por nuestra capacidad para brindar soluciones efectivas y escalables, que satisfagan las necesidades únicas de nuestros clientes, ayudándoles a lograr el éxito en su negocio. Para lograr esta visión, nos comprometemos a mantener una cultura de innovación, excelencia y colaboración en todo lo que hacemos.</p>
      </div>
      <div class="mision">
        <h2>Misión</h2>
        <p>En nuestra empresa, nos dedicamos a desarrollar software de alta calidad y soluciones tecnológicas personalizadas para nuestros clientes. Nos enfocamos en trabajar a la par de nuestros clientes para comprender sus necesidades y alcanzar sus objetivos de negocio. Nos esforzamos por mantenernos a la vanguardia de las últimas tecnologías y metodologías de desarrollo para garantizar que nuestros productos sean innovadores y estén a la altura de las expectativas de nuestros clientes.</p>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
