<app-nabvar></app-nabvar>
<div class="main">
  <div class="cuerpo">
    <div class="cabecera">
      <span>Actualizar Pqrs</span>
    </div>
    <form [formGroup]="pqrsForm" (ngSubmit)="updatePqrs()">
      <div class="Name">
        <label for="tipoTransac">Tipo Transacción</label>
          <select required id="tipoTransac" name="tipoTransac" formControlName="tipoTransac" class="custom-select">
            <option value="" disabled selected>-- SELECCIONAR --</option>
            <option value="Novedad">Novedad</option>
            <option value="PQRS">PQRS</option>
          </select>
          <div class="alert" *ngIf="pqrsForm.get('tipoTransac')?.invalid && (pqrsForm.get('tipoTransac')?.dirty || pqrsForm.get('tipoTransac')?.touched)">Se requiere un tipo de transacción</div>
      </div>
      <div class="Name">
        <label for="time">Hora</label>
        <input required type="time" id="time" name="time" formControlName="time">
        <div class="alert" *ngIf="pqrsForm.get('time')?.invalid && (pqrsForm.get('time')?.dirty || pqrsForm.get('time')?.touched)">Se requiere hora</div>
      </div>
      <div class="Name">
        <label>Razón</label>
        <input required type="text" id="reason" name="reason" placeholder="Ingresa la razón" formControlName="reason">
        <div class="alert" *ngIf="pqrsForm.get('reason')?.invalid && (pqrsForm.get('reason')?.dirty || pqrsForm.get('reason')?.touched)">Se requiere una razón</div>
      </div>
      <div class="Name">
        <label for="date">Fecha</label>
        <input required type="date" id="date" name="date" formControlName="date">
        <div class="alert" *ngIf="pqrsForm.get('date')?.invalid && (pqrsForm.get('date')?.dirty || pqrsForm.get('date')?.touched)">Se requiere fecha</div>
      </div>
      <div class="Name">
        <label for="description">Descripción</label>
        <textarea required name="description" rows="10" id="description" placeholder="Aquí pones la descripción..." formControlName="description"></textarea>
        <div class="alert" *ngIf="pqrsForm.get('description')?.invalid && (pqrsForm.get('description')?.dirty || pqrsForm.get('description')?.touched)">Se requiere una descripción</div>
      </div>
      <div class="botones">
        <button class="botonBonitoReturn" [routerLink]="['/list-pqrs']">Regresar</button>
        <button class="botonBonitoSend" id="submitButton" [disabled]="!pqrsForm.valid">Enviar</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
